---
import "../styles/global.css";
---
<!-- Favicon guidelines generated with https://realfavicongenerator.net/ -->
<title>Turbine</title>
<link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png" />
<!--Ionicons -->
<script
  type="module"
  src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
></script>
<!--
https://rsms.me/inter/
-->
<link rel="preconnect" href="https://rsms.me/" />
<link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
<!---- Alpine  -->
<script defer src="https://unpkg.com/alpinejs@3.10.5/dist/cdn.min.js"></script>
