---
import Link from "@components/ui/link.astro";
import Icon from "astro-icon";
---

<div class="flex flex-col items-center justify-center flex-1 text-center mt-20">
	<p class="mt-6 text-xl font-bold leading-normal text-gray-900 dark:text-gray-100">Head over to Turbine console to get started.</p>
	<div class="flex items-center mt-4 sm:space-x-4 sm:space-y-0 sm:flex-row">
		<Link href="https://console.useturbine.com" target="_blank" size="lg" class="text-xl">
			Get Started <span class="pl-1 text-white dark:text-black">→</span>
		</Link>
		<Link href="https://api.useturbine.com/docs" target="_blank" style="outline" size-="lg" class="text-xl">
			<div class="flex gap-2 items-center justify-center">
				<Icon name="ic:baseline-discord" class="w-5 h-5" /><p>Join Our Discord</p>
			</div>
		</Link>
	</div>
</div>
