<div class="mx-auto mt-20 lg:mt-36 text-center w-full lg:w-3/5">
	<p class="mt-2 mb-6 text-xl font-bold tracking-tight text-black dark:text-white sm:text-2xl">The Turbine API is as simple as this</p>
	<img alt="Turbine code sample for Python" class="relative rounded-lg" src="/images/turbine-python-sample-code.svg" />
</div>
