<div class="flex justify-center items-center mt-4 md:mt-12">
	<div class="flex items-center justify-center w-full lg:w-3/5">
		<img alt="Turbine code sample for Python" class="relative rounded-lg" src="/images/turbine-python-sample-code.png" />
	</div>
	<!-- <div class="flex items-center justify-center w-full lg:w-1/2">
        Get started quickly using our Python and TypeScript SDKs, or use our REST API if you prefer.
    </div> -->
</div>
