---
import logo from "assets/logo.svg";
import { Icon } from "astro-icon";

// import { Image } from 'astro:assets';
---

<footer class="pb-12 pt-28 dark:bg-stone-950">
	<div class="mx-auto max-w-6xl px-6 md:px-12 lg:px-6 xl:px-0">
		<div class="m-auto mt-4 flex w-max items-center justify-between space-x-4 text-gray-500 dark:text-white">
			<a class="duration-300 hover:text-gray-900 dark:hover:text-gray-100" href="https://discord.gg/2Vtgedg8S
			" target="_blank">
				<Icon name="ic:baseline-discord" class="w-6 h-6" />
			</a>
			<a class="duration-300 hover:text-gray-900 dark:hover:text-gray-100" href="https://twitter.com/useturbine" target="_blank">
				<Icon name="mdi:twitter" class="w-6 h-6" />
			</a>
			<a class="duration-300 hover:text-gray-900 dark:hover:text-gray-100" href="https://www.linkedin.com/company/useturbine" target="_blank">
				<Icon name="mdi:linkedin" class="w-6 h-6" />
			</a>
			<a class="duration-300 hover:text-gray-900 dark:hover:text-gray-100" href="mailto:hello@useturbine.com" target="_blank">
				<Icon name="entypo:email" class="w-6 h-6" />
			</a>
		</div>

		<div class="mt-8 text-center">
			<span class="text-sm tracking-wide text-gray-500 dark:text-white">Copyright © Turbine 2023. All rights reserved.</span>
		</div>
	</div>
</footer>
