---
import Link from "@components/ui/link.astro";

// const title = "Automated data pipeline for your AI apps";
// const subtitle =
// 	"Turbine offers real-time semantic search over any database. It fetches changes from your database, creates vector embeddings, and stores them for efficient vector search.";

const title = "Serverless vector search over any database";
const subtitle =
	"Turbine is a vector search engine that automatically syncs your data from any database and prepares it for semantic search. It keeps your data up-to-date without requiring you to write any code.";
const mainButtonText = "Book a Call";
const secondaryButtonText = "Go to Documentation";
---

<div class="relative isolate pt-10 dark:bg-stone-950">
	<!-- Gradient animations -->
	<div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80">
		<svg
			class="relative left-[calc(50%-11rem)] -z-10 h-[21.1875rem] max-w-none -translate-x-1/2 rotate-[30deg] sm:left-[calc(50%-30rem)] sm:h-[42.375rem] animate-slide"
			viewBox="0 0 1155 678">
			<path
				fill="url(#9b2541ea-d39d-499b-bd42-aeea3e93f5ff)"
				fill-opacity=".3"
				d="M317.219 518.975L203.852 678 0 438.341l317.219 80.634 204.172-286.402c1.307 132.337 45.083 346.658 209.733 145.248C936.936 126.058 882.053-94.234 1031.02 41.331c119.18 108.451 130.68 295.337 121.53 375.223L855 299l21.173 362.054-558.954-142.079z">
			</path>
			<defs>
				<linearGradient
					id="9b2541ea-d39d-499b-bd42-aeea3e93f5ff"
					x1="1155.49"
					x2="-78.208"
					y1=".177"
					y2="474.645"
					gradientUnits="userSpaceOnUse">
					<stop stop-color="#9089FC"></stop>
					<stop offset="1" stop-color="#FFD580"></stop>
				</linearGradient>
			</defs>
		</svg>
	</div>
	<div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]">
		<svg
			class="relative left-[calc(50%+3rem)] h-[21.1875rem] max-w-none -translate-x-1/2 sm:left-[calc(50%+36rem)] sm:h-[42.375rem] animate-slide"
			viewBox="0 0 1155 678">
			<path
				fill="url(#b9e4a85f-ccd5-4151-8e84-ab55c66e5aa1)"
				fill-opacity=".3"
				d="M317.219 518.975L203.852 678 0 438.341l317.219 80.634 204.172-286.402c1.307 132.337 45.083 346.658 209.733 145.248C936.936 126.058 882.053-94.234 1031.02 41.331c119.18 108.451 130.68 295.337 121.53 375.223L855 299l21.173 362.054-558.954-142.079z">
			</path>
			<defs>
				<linearGradient
					id="b9e4a85f-ccd5-4151-8e84-ab55c66e5aa1"
					x1="1155.49"
					x2="-78.208"
					y1=".177"
					y2="474.645"
					gradientUnits="userSpaceOnUse">
					<stop stop-color="#9089FC">
						<animate attributeName="stop-color" values="#9089FC; #FF80B5; #9089FC" dur="5s" repeatCount="indefinite"></animate>
					</stop>
					<stop offset="1" stop-color="#ffb6c1">
						<animate attributeName="stop-color" values="#ffb6c1; #9089FC; #ffb6c1" dur="5s" repeatCount="indefinite"></animate>
					</stop>
				</linearGradient>
			</defs>
		</svg>
	</div>

	<!-- Hero content -->
	<div class="flex flex-wrap">
		<div class="flex items-center w-full lg:w-1/2">
			<div class="max-w-2xl mb-8">
				<h1 class="text-4xl font-bold tracking-tight text-black dark:text-white sm:text-6xl">
					{title}
				</h1>
				<p class="mt-6 mb-4 text-xl leading-normal text-gray-900 dark:text-gray-100">
					{subtitle}
				</p>

				<div class="flex flex-col items-start space-y-3 sm:space-x-4 sm:space-y-0 sm:items-center sm:flex-row">
					<Link href="https://calendly.com/ankit-9t4/30min?month=2023-10" target="_blank" size="lg">{mainButtonText}</Link>
					<Link href="https://docs.useturbine.com" style="outline" size="lg">
						{secondaryButtonText}
						<span aria-hidden="true" class="pl-1 text-black dark:text-white">→</span>
					</Link>
				</div>
			</div>
		</div>
		<div class="flex items-center justify-center w-full lg:w-1/2">
			<img alt="Turbine code sample for Python" class="relative dark:hidden" src="/images/turbine-diagram-light.svg" />
			<img alt="Turbine code sample for Python" class="relative hidden dark:block" src="/images/turbine-diagram-dark.svg" />
		</div>
	</div>
</div>

<style>
	@keyframes slide {
		0% {
			left: calc(50% - 70rem);
			transform: rotate(0deg);
		}
		50% {
			left: calc(50% - 30rem);
			transform: rotate(-180deg);
		}
		100% {
			left: calc(50% - 70rem);
			transform: rotate(0deg);
		}
	}

	.animate-slide {
		animation: slide 25s infinite;
	}
</style>
