<section>
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-8">
    <div>
      <div class="text-center max-w-4xl mx-auto">
        <div class="sm:flex sm:justify-center">
        </div>
        <p
          class="text-black mt-8 font-extrabold lg:text-5xl text-4xl tracking-tight">
          Fine-tune LLM prompt by fast and accurate context retrieval
        </p>
        <p class="text-gray-500 lg:text-xl max-w-2xl mt-4 mx-auto text-base">
        Turbine offers real-time semantic search over any database. It fetches changes from your database, creates vector embeddings, and stores them for efficient vector search.
        </p>
      </div>
      <div class="flex justify-center gap-3 mt-10 flex-col sm:flex-row">
        <a
          class="items-center justify-center h-12 font-medium rounded-xl focus-visible:outline-black focus:outline-none inline-flex duration-200 text-black lg:w-auto px-6 py-3 text-center text-black/80 w-full border"
          href="https://github.com/michael-andreuzza/astrosaas">Connect a Database</a
        >
        <a
          class="items-center justify-center h-12 font-medium rounded-xl focus-visible:outline-black focus:outline-none inline-flex bg-black border-2 border-black duration-200 focus-visible:ring-black hover:bg-transparent hover:border-black hover:text-black lg:w-auto px-6 py-3 text-center text-white w-full"
          href="https://lexingtonthemes.com"
          >Get API Docs &nbsp; &rarr;
        </a>
      </div>
      <dl
        class="lg:gap-x-8 lg:grid-cols-3 max-w-4xl mt-8 mx-auto sm:gap-x-6 sm:gap-y-12 sm:grid sm:grid-cols-2 sm:space-y-0 space-y-6 text-center text-sm items-start">
        <div class="text-gray-500">
          <strong class="text-gray-700">
          20+ Tailored Integrations
          </strong>
        </div>
        <div class="text-gray-500">
          <strong class="text-gray-700">Iterative Auto-Chunk Algorithm for Optimal Contexts</strong>
        </div>
        <div class="text-gray-500">
          <strong class="text-gray-700">Designed to Scale. <br> Easier to integrate.</strong>
        </div>
      </dl>
    </div>
    <br>
    <br>
    <hr>
    <div class="grid grid-cols-2 gap-0.5 lg:mt-8 md:grid-cols-5 mt-5">
      <div class="flex justify-center col-span-1 ">
        <img alt="PostgreSQL Logo" class="h-8" src="/images/postgres.svg" />
      </div>
      <div class="flex justify-center col-span-1 ">
        <img alt="MongoDB Logo" class="h-8" src="/images/mongodb-icon.svg" />
      </div>
      <div class="flex justify-center col-span-1 ">
        <img alt="OpenAI Logo" class="h-8" src="/images/openai.svg" />
      </div>
      <div class="flex justify-center col-span-1 ">
        <img alt="Pinecone Logo" class="h-8" src="/images/pinecone.svg" />
      </div>
      <div class="flex justify-center col-span-1 ">
        <img alt="Milvus Logo" class="h-8" src="/images/milvus.svg" />
      </div>
    </div>
  </div>
</section>
