<section aria-labelledby="faq-title" id="faq">
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12">
    <div>
      <div class="max-w-2xl">
        <p
          class="text-black font-extrabold lg:text-5xl text-4xl tracking-tight">
          FAQ
        </p>
        <p class="text-gray-500 lg:text-xl max-w-2xl mt-4 mx-auto text-base">
          precision. accuracy. relevance.
        </p>
      </div>
      <div class="mt-12 space-y-12 divide-y-2">
        <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-3 lg:pt-12">
          <div class="flex flex-col flex-shrink-0 mb-6 lg:pr-12 md:mb-0">
            <span
              class="text-lg font-semibold leading-6 text-black font-display tracking-tight">
              What is LLM context? How to fine-tune LLM.
            </span>
          </div>
          <div class="lg:col-span-2">
            <p class="text-gray-500 text-sm">
            Any LLM model needs to align to the specific nuances and requirements.
            This is almost always an input along with prompt.
            Since prompt is limited, it becomes very important to choose correct context.
            Which adheres to your per-query fine-tuning needs.
            It serves as a foundational aspect in enhancing the accuracy and relevance of the model's output.

            <br><br>
            If you have ~2-3 cases, fine-tuning it by re-training LLM is good (given you have time and resources).
            If you want to use LLM for your per user needs (exceeding >= 3 contextual data)
            Then context is a must. Turbine's context designing takes care of all that under the hood..
            </p>
          </div>
        </div>
        <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-3 lg:pt-12">
          <div class="flex flex-col flex-shrink-0 mb-6 lg:pr-12 md:mb-0">
            <span
              class="text-lg font-semibold leading-6 text-black font-display tracking-tight">
              How important is chunking? Does it really matter.
            </span>
          </div>
          <div class="space-y-4 lg:col-span-2">
            <p class="text-gray-500 text-sm">
            </p>
            <p class="text-gray-500 text-sm">
            Chunking means to divide up data before storing it in a way that makes semantic searching over data easier.

            It plays a critical role in managing and processing large sets of data more efficiently.
            Our auto-chunking algorithmcally finds the sweet spots and iteratively adjust it according to your searches.
            This not only speeds up the data retrieval process but also helps in maintaining data accuracy.
            </p>
          </div>
        </div>
        <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-3 lg:pt-12">
          <div class="flex flex-col flex-shrink-0 mb-6 lg:pr-12 md:mb-0">
            <span
              class="text-lg font-semibold leading-6 text-black font-display tracking-tight">
              Why use a third-party and why not tell my dev to implement it on our own?
            </span>
          </div>
          <div class="lg:col-span-2">
            <p class="text-gray-500 text-sm">
            Developing this kind of system in-house is a massive undertaking, which requires substantial time, resources, expertise. Utilizing Turbine is not game done, but it allows developers to focus on other critical areas without the hefty investment of building and maintaining it yourself.
            Turbine is built with specialized expertise and is pre-tailored to adhere to nuanced needs. Designed to scale
            </p>
          </div>
        </div>
        <div class="grid grid-cols-1 gap-4 pt-4 lg:grid-cols-3 lg:pt-12">
          <div class="flex flex-col flex-shrink-0 mb-6 lg:pr-12 md:mb-0">
            <span
              class="text-lg font-semibold leading-6 text-black font-display tracking-tight">
              Do you have a free trial?
            </span>
          </div>
          <div class="lg:col-span-2">
            <p class="text-gray-500 text-sm">
            Yes. Contact us and we'll get you started.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
