<section class="bg-white border-b border-black/5">
  <div class="w-full mx-auto md:px-12 px-8 max-w-7xl lg:px-16">
    <div
      x-data="{ open: false }"
      class="relative flex flex-col w-full py-5 mx-auto bg-white md:items-center md:justify-between md:flex-row md:px-6">
      <div class="flex flex-row items-center justify-between lg:justify-start">
        <a href="/" class="lg:pr-8 text-black inline-flex items-center gap-3">
          <svg
            width="25"
            height="25"
            viewBox="0 0 448 448"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M281.552 1.94984L281.551 1.95036C278.054 3.72261 275.529 7.28972 274.407 11.3622C273.286 15.4326 273.587 19.9411 275.659 23.5554C277.182 26.2094 278.65 27.9025 280.844 29.1306C283.062 30.3721 286.062 31.1619 290.705 31.9108L290.706 31.911C295.576 32.7143 299.251 33.6735 302.397 35.1254C305.549 36.5802 308.146 38.5184 310.876 41.2488C323.076 53.2463 323.072 74.5633 310.98 86.7565L310.979 86.7579C308.829 88.9078 304.578 91.7374 301.443 93.2545L301.438 93.2567L295.713 95.9524L295.613 95.9996L295.502 96L184.627 96.4044C132.175 96.6544 104.38 96.8044 89.3725 97.1043C81.865 97.2543 77.574 97.4416 75.0007 97.6957C72.423 97.9502 71.6433 98.2668 71.0986 98.6229L71.0959 98.6247C66.7671 101.414 64.625 105.838 64.625 111.904C64.625 115.093 65.2134 117.76 66.3688 119.987C67.5228 122.211 69.2566 124.022 71.59 125.48C71.9737 125.72 72.3183 125.916 72.844 126.09C73.3789 126.267 74.1181 126.426 75.287 126.564C77.6302 126.842 81.6185 127.029 88.9835 127.154C103.703 127.404 131.822 127.404 187.025 127.404C193.313 127.404 199.266 127.405 204.904 127.406C255.54 127.415 280.749 127.419 294.748 126.655C302.524 126.231 306.799 125.571 310.035 124.558C312.583 123.762 314.492 122.747 316.993 121.419C317.675 121.057 318.401 120.671 319.195 120.26C336.945 111.038 349.247 92.9847 351.528 72.9478C355.004 41.2575 339.518 14.5834 311.145 3.67105L311.145 3.67078C306.811 1.99616 300.642 0.926895 294.909 0.603584C292.047 0.442146 289.308 0.467567 286.975 0.692696C284.628 0.919121 282.742 1.34338 281.552 1.94984Z"/>
            <path d="M342.125 161.104C337.025 164.504 333.725 171.704 334.625 177.504C335.625 184.204 339.225 187.504 356.825 198.004L372.525 207.404L191.025 207.904C18.225 208.404 9.425 208.504 6.825 210.204C-2.275 216.104 -2.275 231.704 6.825 237.604C9.425 239.304 18.225 239.404 191.025 239.904L372.525 240.404L356.625 249.904C338.125 261.004 336.125 263.104 336.125 271.804C336.125 282.004 342.025 287.904 352.225 287.904C357.925 287.904 358.225 287.704 400.725 262.104C448.425 233.504 448.125 233.804 448.125 223.904C448.125 214.104 448.425 214.304 400.625 185.504C358.925 160.404 357.425 159.504 351.625 159.104C346.625 158.804 345.025 159.104 342.125 161.104Z"/>
            <path d="M71.325 321.904C61.825 327.704 61.425 343.504 70.825 349.604C73.425 351.304 79.725 351.404 184.625 351.904C310.025 352.504 300.425 351.804 310.025 360.504C317.325 367.104 320.625 374.404 320.625 383.904C320.625 392.704 318.425 398.404 312.525 404.904C307.425 410.504 300.625 413.704 290.625 415.404C281.025 416.904 278.325 418.404 275.325 423.804C271.225 431.004 273.325 440.404 279.925 445.404C283.625 448.104 296.425 448.704 305.225 446.504C322.725 442.104 339.125 428.904 347.025 412.904C356.425 393.604 356.425 374.104 347.025 354.904C341.325 343.404 330.025 331.804 319.125 326.604C304.625 319.504 311.925 319.904 187.125 319.904C76.625 319.904 74.525 319.904 71.325 321.904Z"/>
          </svg>
          <span class="font-bold font-display">Turbine</span>
        </a>
        <button
          @click="open = !open"
          class="inline-flex items-center justify-center p-2 text-gray-400 hover:text-black focus:outline-none focus:text-black lg:hidden">
          <svg
            class="w-6 h-6"
            stroke="currentColor"
            fill="none"
            viewBox="0 0 24 24">
            <path
              :class="{'hidden': open, 'inline-flex': !open }"
              class="inline-flex"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"></path>
            <path
              :class="{'hidden': !open, 'inline-flex': open }"
              class="hidden"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"></path>
          </svg>
        </button>
      </div>
      <nav
        :class="{'flex': open, 'hidden': !open}"
        class="flex-col items-center flex-grow hidden md:pb-0 md:flex md:justify-end md:flex-row">
        <a
          class="px-2 lg:px-6 py-2 md:px-3 text-sm font-medium text-black hover:text-accent-400 lg:ml-auto"
          href="/#features">What is LLM context?</a
        >
        <a
          class="px-2 lg:px-6 py-2 md:px-3 text-sm font-medium text-black hover:text-accent-400"
          href="/#features">Features</a
        >
        <a
          class="px-2 lg:px-6 py-2 md:px-3 text-sm font-medium text-black hover:text-accent-400"
          href="/#pricing">Pricing</a
        >
        <!---
        <a
          class="px-2 lg:px-6 py-2 md:px-3 text-sm font-medium text-black hover:text-accent-400"
          href="/faq">
          FAQ</a
        >
        --->
        <div class="inline-flex items-center gap-2 list-none lg:ml-auto">
          <a
            href="/signup"
            class="block px-4 py-2 mt-2 text-sm font-medium text-black md:mt-0 hover:text-accent-400 focus:outline-none focus:shadow-outline">
            Roadmap
          </a>
          <a
            href="/login"
            class="inline-flex items-center h-8 justify-center px-4 py-2 text-sm font-medium text-black bg-gray-100 rounded-lg group focus:outline-none focus-visible:outline-2 focus-visible:outline-offset-2 hover:bg-gray-50 active:bg-gray-200 active:text-accent-400 focus-visible:outline-black">
            Contact Us
          </a>
        </div>
      </nav>
    </div>
  </div>
</section>
