---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource-variable/inter";
import { ViewTransitions } from "astro:transitions";

export interface Props {
	title: string;
	lang: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL("/meta/opengraph.png", Astro.site).toString();

const { title = null } = Astro.props;

const makeTitle = title ? title + " | " + "Turbine" : "Turbine | Serverless Vector Search over Any Database";
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="theme-color" content="#ffffff" />

		<ViewTransitions />

		<!-- Global CSS -->
		<link rel="stylesheet" href="/index.css" />

		<SEO
			title={makeTitle}
			description="Turbine is the solution for automating the data pipeline of your AI apps. It offers real-time semantic search over any database. It fetches changes from your database, creates vector embeddings, and stores them for efficient vector search."
			canonical={canonicalURL}
			openGraph={{
				basic: {
					url: canonicalURL,
					type: "website",
					title: "Turbine | Serverless Vector Search over Any Database",
					image: resolvedImageWithDomain,
				},
				image: {
					alt: "Turbine Homepage Screenshot",
				},
			}}
		/>
		<!--Ionicons -->
		<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
		<script async src="https://js.stripe.com/v3/pricing-table.js"></script>
	</head>

	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-E3T4EWSZQS"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() {
			dataLayer.push(arguments);
		}
		gtag("js", new Date());

		gtag("config", "G-E3T4EWSZQS");
	</script>

	<body class="dark:bg-stone-950">
		<Navbar />
		<slot />
		<Footer />
		<style is:global>
			/* Improve Page speed */
			/* https://css-tricks.com/almanac/properties/c/content-visibility/ */
			img {
				content-visibility: auto;
			}
		</style>
	</body>
</html>
