---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/navbar/navbar.astro";
import "@fontsource-variable/inter";
import { ViewTransitions } from "astro:transitions";

export interface Props {
	title: string;
	lang: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL("/meta/opengraph.png", Astro.site).toString();

const { title } = Astro.props;

const makeTitle = title ? title + " | " + "Astros" : "Astros - Starter Template for Astro with Tailwind CSS";
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="theme-color" content="#ffffff" />

		<ViewTransitions />

		<!-- Global CSS -->
		<link rel="stylesheet" href="/index.css" />

		<SEO
			title={makeTitle}
			description="Astros is a starter website template for Astro built with TailwindCSS and alpine js."
			canonical={canonicalURL}
			openGraph={{
				basic: {
					url: canonicalURL,
					type: "website",
					title: "Astros - Starter Template for Astro",
					image: resolvedImageWithDomain,
				},
				image: {
					alt: "Astros Homepage Screenshot",
				},
			}}
		/>
		<!--Ionicons -->
		<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
		<script async src="https://js.stripe.com/v3/pricing-table.js"></script>
	</head>
	<body class="dark:bg-stone-950">
		<Navbar />
		<slot />
		<Footer />
		<style is:global>
			/* Improve Page speed */
			/* https://css-tricks.com/almanac/properties/c/content-visibility/ */
			img {
				content-visibility: auto;
			}
		</style>
	</body>
</html>
