---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
import Navbar from "@components/Navbar.astro";
import "@fontsource-variable/inter";
import { ViewTransitions } from "astro:transitions";

export interface Props {
	title?: string;
	lang: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL("/meta/opengraph.png", Astro.site).toString();

const { title } = Astro.props;

const makeTitle = title ? title + " | " + "Turbine" : "Turbine | Automated data pipeline for your AI apps";
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<meta name="theme-color" content="#ffffff" />

		<ViewTransitions />

		<!-- Global CSS -->
		<link rel="stylesheet" href="/index.css" />

		<SEO
			title={makeTitle}
			description="Turbine is a vector search engine that automatically syncs your data from any database and prepares it for vector search. It lets you use the latest language models to power your AI bots, without having to worry about the infrastructure."
			canonical={canonicalURL}
			openGraph={{
				basic: {
					url: canonicalURL,
					type: "website",
					title: "Turbine | Automated data pipeline for your AI apps",
					image: resolvedImageWithDomain,
				},
				image: {
					alt: "Turbine Homepage Screenshot",
				},
			}}
		/>
		<!--Ionicons -->
		<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
		<script async src="https://js.stripe.com/v3/pricing-table.js"></script>

		<!-- Plausible -->
		<script defer data-domain="useturbine.com" data-api="/qwerty/fancy-darkness/event" src="/qwerty/fancy-darkness/script.js"></script>
	</head>

	<body class="dark:bg-stone-950">
		<Navbar />
		<slot />
		<Footer />
		<style is:global>
			/* Improve Page speed */
			/* https://css-tricks.com/almanac/properties/c/content-visibility/ */
			img {
				content-visibility: auto;
			}
		</style>
		<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
	</body>
</html>
